html, body {
	margin: 0px;
	padding: 0px;
	background-color: #fec;
}

#sidebar {
	width: 300px;
	height: 100vh;
	float: left;
	overflow: auto;
	background-color: #fab;
	user-select: none;
	-webkit-user-select: none;
}

#sidebar li {
	list-style: none;
}

#main {
	padding: 10px;
	width: calc(100% - 320px);
	float: right;
}

.tag {
	background-color: #eee;
	display: inline-block;
	border-radius: 4px;
	padding: 2px;
	margin: 1px;
	cursor: pointer;
	font-weight: bold;
}

.note {
	background-color: #eee;
	display: inline-block;
	border-radius: 4px;
	padding: 2px;
	margin: 1px;
	cursor: pointer;
}
