html, body {
	margin: 0px;
	padding: 0px;
	background-color: #fec;
}

#sidebar {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fab;
	user-select: none;
	-webkit-user-select: none;
}

#sidebar li {
	list-style: none;
}

#main {
	width: 100%;
	margin-left: 310px;
}

.tag {
	background-color: #eee;
	display: inline-block;
	border-radius: 4px;
	padding: 2px;
	margin: 1px;
	cursor: pointer;
}
