html, body {
	margin: 0px;
	padding: 0px;
	background-color: #fec;
}

#sidebar {
	width: 300px;
	height: 100vh;
	float: left;
	overflow: auto;
	background-color: #fab;
	user-select: none;
	-webkit-user-select: none;
}

#sidebar ul {
	padding-left: 25px;
}

#sidebar :not(.tree-closed) {
	list-style: '▼';
}

#sidebar .tree-closed {
	list-style: '▶';
}

#sidebar .tree-closed > ul {
	display: none;
}

#main {
	padding: 10px;
	width: calc(100% - 320px);
	float: right;
}

#editor {
	width: calc(100% - 20px);
	height: 800px;
	background-color: #f4f4f4;
	padding: 10px;
	border-radius: 10px;
}

.tag {
	background-color: #eee;
	display: inline-block;
	border-radius: 4px;
	padding: 2px;
	margin: 1px;
	cursor: pointer;
	font-weight: bold;
}

.note {
	background-color: #eee;
	display: inline-block;
	border-radius: 4px;
	padding: 2px;
	margin: 1px;
	cursor: pointer;
}
