#left-sidebar {
  width: 24rem;
}

#left-sidebar ul {
	padding-left: 25px;
}

#left-sidebar :not(.tree-closed) {
	list-style: '▼';
}

#left-sidebar .tree-closed {
	list-style: '▶';
}

#left-sidebar .tree-closed > ul {
	display: none;
}

#left-sidebar .note {
	list-style: none;
}

#left-sidebar .tagtree-row:hover > button {
	display: block;
}

#editor > div[data-slate-editor='true'] {
	height: 100%;
}

#right-sidebar {
  width: 24rem;
}

.tagbubble {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.tagbubble-inner {
  display: flex;
}

.tagbubble-inner > div:not(:last-child)::after {
  content: ">";
}
