#left-sidebar {
  width: 24rem;
}

#left-sidebar ul {
	padding-left: 25px;
}

#left-sidebar :not(.tree-closed) {
	list-style: '▼';
}

#left-sidebar .tree-closed {
	list-style: '▶';
}

#left-sidebar .tree-closed > ul {
	display: none;
}

#left-sidebar .note {
	list-style: none;
}

#right-sidebar {
  width: 24rem;
}

.tagbubble {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.tagbubble > div:not(:last-child)::after {
  content: "::";
}
