#sidebar ul {
	padding-left: 25px;
}

#sidebar :not(.tree-closed) {
	list-style: '▼';
}

#sidebar .tree-closed {
	list-style: '▶';
}

#sidebar .tree-closed > ul {
	display: none;
}

#sidebar .note {
	list-style: none;
}
